<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<main layout:fragment="content">

  <section class="py-20 bg-gray-50">
    <div class="container mx-auto px-4">

      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-start">

        <!-- IMAGEN -->
        <div class="rounded-2xl overflow-hidden shadow">
          <img th:src="@{/img/{img}(img=${plato.imagen})}"
               alt="Imagen plato"
               class="w-full h-[420px] object-cover">
        </div>

        <!-- INFO -->
        <div>

          <!-- Categoría -->
          <a th:href="@{/categoria/{id}(id=${plato.categoria.id})}"
             class="inline-block mb-3 text-sm text-blue-600 font-semibold">
            ← <span th:text="${plato.categoria.nombre}"></span>
          </a>

          <!-- Nombre -->
          <h1 th:text="${plato.nombre}"
              class="text-4xl font-bold mb-4"></h1>

          <!-- Precio -->
		  <div class="text-3xl font-bold text-blue-600 mb-6">
		      S/ <span id="displayPrecio" th:text="${plato.precio}"></span>
		  </div>

		  <div class="flex items-center gap-4 mb-8">
		      <button th:onclick="'updateQty(-1,' + ${plato.precio} + ',' + ${plato.id} + ')'" class="px-4 py-2 bg-gray-100">-</button>
		      <input type="number" id="inputQty" value="1" readonly class="w-12 text-center font-bold">
		      <button th:onclick="'updateQty(1,' + ${plato.precio} + ',' + ${plato.id} + ')'" class="px-4 py-2 bg-gray-100">+</button>
		  </div>

          <!-- Estado -->
          <div class="mb-6">
            <span th:if="${plato.estado}"
                  class="inline-block bg-green-100 text-green-700 px-4 py-1 rounded-full text-sm">
              Disponible
            </span>

            <span th:if="${!plato.estado}"
                  class="inline-block bg-red-100 text-red-700 px-4 py-1 rounded-full text-sm">
              No disponible
            </span>
          </div>

          <!-- ACCIONES -->
          <div class="flex gap-4">

            <!-- Agregar al carrito -->
			<a th:if="${plato.estado}"
			   id="btnAddToCart" 
			   th:href="@{/carrito/agregar/{id}(id=${plato.id})}"
			   class="bg-blue-600 text-white px-8 py-4 rounded-xl font-semibold hover:bg-blue-700 transition">
			  Agregar al carrito 🛒
			</a>

            <!-- Volver -->
            <a th:href="@{/}"
               class="px-8 py-4 rounded-xl border font-semibold hover:bg-gray-100 transition">
              Seguir explorando
            </a>

          </div>

        </div>
      </div>
    </div>
  </section>

</main>
</html>